lighthouse-frontend/target/
lighthouse-android-client/target/
lighthouse-android-client/gen/**
lighthouse-web/target/

**.DS_Store
**/.project
**/.classpath
**/*.iml
**/*.ipr
**/*.iws

**/.svn/**

lighthouse-android-client/.settings/
lighthouse-frontend/lighthouse-soapui-project.xml
lighthouse-frontend/projectFilesBackup/

lighthouse-node/.idea
lighthouse-node/target
lighthouse-node/*.iml
